<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Furka4U</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />

    <title>Blog</title>
</head>
<body>


    <h1 th:text="${carManufacturers.getId()}"></h1>
    <h1 th:text="${carManufacturers.getName()}"></h1>


    <h1 th:text="${carModels.getId()}"></h1>
    <h1 th:text="${carModels.getName()}"></h1>

    <h1 th:text="${carManufacturers2.getId()}"></h1>
    <h1 th:text="${carManufacturers2.getName()}"></h1>


</body>
</html>